/* import the google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* import the custom font */
@font-face {
  font-family: 'Recoleta', 'serif';
  src: local('recoleta') url(~assets/fonts/recoleta/bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Recoleta', 'serif';
  src: local('recoleta') url(~assets/fonts/recoleta/medium.woff2)
    format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Recoleta', 'serif';
  src: local('recoleta') url(~/assets/fonts/recoleta/semibold.woff2)
    format('woff2');
  font-weight: 600;
  font-style: normal;
}

/* presets */
button,
input {
  all: unset;
}
body {
  @apply min-h-screen;
}

.fi {
  @apply flex justify-center items-center;
}
